/* Espacio para estilos personalizados */
.home-banner {
  background: url(https://weblogin.muninqn.gov.ar/WebResources/images/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 20vh;
  border-top: 30px black;
}
