/* Espacio para estilos personalizados */
<<<<<<< Updated upstream
=======
.hero-imagen {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/foto-obra-neuquen.jpg");
  min-height: 15em;
  height: 50%;
  width: 100%;
  align-self: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: static;
  padding: 6.6vw;
  align-items: left;
  justify-content: left;
}

.hero-texto {
  text-align: left;
  color: white;
}

.hero-header {
  align-self: left;
  font-size: 50px;
}

.top-bar {
  height: 20px;
  background-color: #7cc3f7;
}
.logos-top {
  padding: 20px 6.5vw;
  display: flex;
}
.logo-muni {
  height: 50px;
  width: auto;
}
.logo-compromiso {
  height: 150px;
  width: auto;
  position: absolute;
  left: 70%;
  z-index: 10;
}

@media only screen and (max-width: 767px) {
  .logo-compromiso {
    display: none;
  }
}
>>>>>>> Stashed changes
