/* Espacio para estilos personalizados */
.hero-imagen {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/foto-obra-neuquen.jpg");
  min-height: 15em;
  height: 50%;
  width: 100%;
  align-self: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: static;
  padding: 8vw;
  align-items: left;
  justify-content: left;
}

.hero-texto {
  text-align: left;
  color: white;
}

.hero-header {
  align-self: left;
  font-size: 50px;
}

.top-bar {
  height: 20px;
  background-color: #7cc3f7;
}
.logos-top {
  padding: 20px 6.5vw;
  display: flex;
}
.logo-muni {
  height: 35px;
  width: auto;
}

.filtro-areas{
  background-color: #5997D1!important;
  color: white!important;
}
.filtro-areas:hover{
  background-color: #6ea3d4!important;
}
.header{
  background-color: #5997D1!important;
}
.compromiso-icon{
  padding: 10px!important;
}
.compromiso-action-button{
  background-color: #5997D1;
  padding: 10px;
}
.compromiso-action-button:hover{
  background-color: #3B66A9!important;
}
.progress-bar{
  background-color: #1C3C75!important;
}
@media only screen and (max-width: 767px) {
  .logo-compromiso {
    display: none;
  }
}
